{{define "title"}}
  Home
{{end}}

{{define "main"}}

  <h2>Latest Snippets</h2>

<!-- Write a iffy block to check whether the Snippets slice is empty or not -->

  {{if .Snippets}}
    <table>
      <tr>
        <th>Title</th>
        <th>Created</th>
        <th>ID</th>
      </tr>
      <!-- Iterate over all the snippets in the slice . On each iterator the index element is assigned to the variable "." -->
      {{range .Snippets}}
        <tr>
          <td><a href="/snippet/view/{{.ID}}">{{.Title}}</td>
          <td>{{human_date .Created}}</td>
          <td>#{{.ID}}</td>
        </tr>
      {{end}} <!--- end of iteration -->
    </table>
  {{else}}
    <p>There's no snippet to show for now ....</p>
  {{end}} <!--End of iffy block-->

{{end}}

